Source: curses-apt-key
Section: admin
Priority: extra
Maintainer: Axel Beckert <abe@debian.org>
Build-Depends: debhelper (>= 9)
Standards-Version: 3.9.8
Homepage: https://github.com/xtaran/curses-apt-key#readme
Vcs-Git: https://github.com/xtaran/curses-apt-key.git
Vcs-Browser: https://github.com/xtaran/curses-apt-key

Package: curses-apt-key
Architecture: all
Depends: gui-apt-key | libgak-backend-perl,
         libcurses-ui-perl,
         ${misc:Depends},
         ${perl:Depends}
Description: Text-mode key manager for apt-key
 The text-mode frontend to the apt-key utility (cak) provides an easy
 way to maintain digital keys for APT also on servers.  Those keys are
 required to authenticate Debian archives and prevent malicious
 packages to creep in.
